.aside 
  position: fixed
  height: 100%
  width: 25%
  top: 50px
  background-color: #1fc8db
  background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 71%, #2cb5e8 100%)
  overflow-y: auto

  .list-holder
    padding:15px 7px 15px 8px
    margin-bottom: 50px

    .title
      color:white

    .thumbnail 
      border-radius: 5px

    article.media
      background-color: #fff
      padding:10px
      border-radius: 5px
      cursor: pointer
    article.media.active
      background-color: #fce473

  .createDialogHolder 
    text-align: center
    position: fixed
    bottom: 0px
    width:25%
    padding:20px
    background-color: #f5f7fa

    #createDialogBtn 
      width: 100%

      .icon
        margin-right: 4px
    
    .createDialogFormHolder
      text-align:left


.main-holder 
  margin-left: 25%

  .msgs-holder
    margin-bottom: 210px
    padding: 15px

  .form-holder 
    border-top: solid 1px #EEE
    position: fixed
    background-color: #fff
    width: 75%
    height: 190px
    bottom: 0px

    .form 
      padding: 20px

      .avatar 
        padding-top: 0% !important
        border-radius: 4px
        max-width: 70px

      textarea[name="message"] 
        height: 110px !important
        min-height: 50px !important





