section.hero.is-large.is-primary.is-bold
  .hero-content.has-text-centered
    .container
      h1.title Primary bold title
      h2.subtitle 
        br
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, error?
      img&attributes({
        src: 'img/logo.png',
        alt: 'logo',
        width: '100'
      })
      //- div(style={'margin-top': '30px'})
      //-   button.button.is-warning(ng-click='about.changeName()') original
      //-   | &nbsp;
      //-   button.button.is-warning(ng-click='about.randomName()') random
      //- div(style={'margin-top': '30px'})
      //-   h1.title {{about.name}}