section.hero.is-large.is-primary.is-bold
  .hero-content.has-text-centered
    .container
      h1.title Primary bold title
      h2.subtitle
        br
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, error?
      img&attributes({
        src: 'img/logo.png',
        alt: 'logo',
        width: '100'
      })